<section class="container text-center">
  <h2 class="ct-section-header"></h2>
  <div class="row"> 
    <div class="container">
        <div class="board">
            <!-- Navigation Area (Circular Tabs) -->
           <app-navbar></app-navbar>
            <!-- End Navigation Area (Circular Tabs) -->
 
            <!-- Content Area -->
            <div class="tab-content">
                <!-- Nested view  -->
                <!--<div *ngIf="loadingStatus" class="ct-preloader__inner">
                    <div class="ct-preloader__spinner"><i class="ct-preloader__1"></i><i class="ct-preloader__2"></i><i class="ct-preloader__3"></i><i class="ct-preloader__4"></i><i class="ct-preloader__5"></i><i class="ct-preloader__6"></i><i class="ct-preloader__7"></i><i class="ct-preloader__8"></i>
                    </div>
                </div>-->
                <router-outlet></router-outlet>
            </div>
            
        </div>
 
    </div>  
  </div>
</section>