// Panels

@mixin accordion-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border: none;

  & > .panel-heading {
    padding: 0;

    a {
      color           : $heading-text-color;
      background-color: $heading-bg-color;
      border-color    : $heading-border;
      padding         : $panel-heading-padding-vertical ($panel-heading-padding-horizontal * 2 + $panel-heading-padding-horizontal/2) $panel-heading-padding-vertical $panel-heading-padding-horizontal;
      display         : block;
      border-left     : 5px solid $heading-border;
      position        : relative;

      &:hover {
        background-color: darken($heading-bg-color, 5%);
        border-color    : darken($heading-bg-color, 5%);
      }

      &:after {
        content         : '\f054';
        font-family     : 'FontAwesome';
        width           : 24px;
        height          : 24px;
        line-height     : 24px;
        border-radius   : 50%;
        padding-left    : 2px;
        text-align      : center;
        font-size       : floor($font-size-base * 0.7);
        @include t-all;
        transform       : rotate(90deg);
        background-color: $body-bg;
        color           : $heading-border;
        position        : absolute;
        top             : 50%;
        right           : $panel-heading-padding-horizontal;
        margin-top      : -12px;
      }

      &.collapsed {
        background-color: $panel-bg;
        color           : $panel-text;;

        &:after {
          background-color: $heading-border;
          color           : $body-bg;
          transform       : none;
        }

        &:hover {
          background-color: darken($panel-bg, 5%);
        }
      }
    }

    + .panel-collapse > .panel-body {
      border: none;
    }
    .badge {
      color           : $heading-bg-color;
      background-color: $heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $border;
    }
  }


}
