<header data-parallax="30" class="ct-page-header ct-page-header--big">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="ct-page-header__svg">
        <path d="M0,100 L 100,100 100,0 Z"></path>
    </svg>
    <div class="ct-page-header__inner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Vrei sa organizezi ziua de nastere a copilului tau? Aici poti creea invitatia, 
                        alegi cadourile care si le-ar dori sa le primeasca si apoi o trimiti la toti prietenii lui.</h1><br>
                    <a  class="btn btn-motive" [routerLink]="['/invite/create']">
                        Create Invitation</a>
                </div>
            </div>
        </div>
    </div>
</header>
