<div [ngSwitch]="isCompleted">
          <div *ngSwitchDefault>
            <div class="col-sm-6 col-sm-offset-3" style="margin-bottom: 20px">
              <h2 class="h2 ct-form-section__title">Rezumat</h2>
               <p>{{data.name}} te invita la petrecerea zilei de nastere organizata la</p>
              <p>{{data.location}}</p>
              <p>in data de {{data.date | date: 'fullDate'}} </p>
              <p>{{data.message}}</p>

              <div class="col-sm-12" *ngIf="data.product_size > 2">
                <h2 style="margin-top: 10px" class="h2 ct-form-section__title" *ngIf="data.product_size > 0">Cadourile care si le doreste</h2>
                <app-paginate [offset]="offset" [limit]="limit" [size]="count" (pageChange)="change($event)"></app-paginate>
              </div>
              
            </div>

          <div class="col-sm-12" >
            <div id="slick-themes" data-items="4" data-items-sm="4" data-items-lg="4" data-items-xl="4" class="ct-slick text-center">
            <div class="item" >
                <figure *ngFor="let product of products" class="ct-party-box" style="height: 150px; width: 150px">
                    <div class="ct-party-box__inner">
                      <div class="ct-party-box__media">
                            <img src="{{product?.image_original}}" alt="Balloons and Bubbles" />
                            <span>{{product.name}}</span>
                        </div>
                        <button style="margin-right: 5em" *ngIf="product.added == true" 
                            type="button" class="btn btn-sm btn-motive"
                            [ngClass]="{ 'isAdding': product.adding == true}"
                          (click)="removeFromFavorites(product, $event)">Remove</button>
                        <!--<div class="ct-party-box__content">
                            <h3 class="ct-party-box__header"><span>{{product.name}}</span></h3>
                        </div>-->
                    </div>
                </figure>
              </div>     
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="h2 ct-form-section__title">Trimite invitatia la:</h2>
            <div class="widget widget_archive">
              <div class="widget-inner">
                  <ul >
                      <li *ngFor="let email of data.email"><a href="#"><span class="pull-left">{{email}}</span></a>
                      <li *ngFor="let number of data.phone_number"><a href="#"><span class="pull-left">{{number}}</span></a>
                      </li>
                  </ul>
              </div>
            </div>        
          </div>

          <div class="col-sm-2 col-sm-offset-4">
            <button type="button" class="btn btn-motive" (click)="onPrevious()">Inapoi</button>
          </div>
          <div class="col-sm-2">
            <button type="button" [disabled]="data.email <= 0" [ngClass]="{ 'isAdding': isSubmitting == true}" class="btn btn-motive" (click)="onFinish()">Trimite invitatia</button>
          </div>

        </div>
          <div *ngSwitchCase="true">
            <div *ngIf="invite_error" class="col-sm-6 col-sm-offset-3" style="margin-bottom: 20px; margin-top: 20px">
              <h2 class="h2 ct-form-section__title">Invitatia a fost trimisa cu succes.</h2>
              <a style="margin-top: 10px" type="button" class="btn btn-motive">Share on Facebook</a>
            </div>

            <div *ngIf="!invite_error" class="col-sm-6 col-sm-offset-3" style="margin-bottom: 20px; margin-top: 20px">
              <h2 class="h2 ct-form-section__title">There was an error sending your Invitation. Please try again</h2>
              <a style="margin-top: 10px" [routerLink]= "['/invite']" type="button" class="btn btn-motive">Create a new Invitation</a>
            </div>
          </div>
        </div>