<form #inviteForm="ngForm">
            <div class="col-sm-6 col-sm-offset-3" style="margin-top: 20px">
              <div class="form-group">
                  <input type="text" placeholder="Numele sarbatoritului" id="name" [(ngModel)]="data.name" name="name" class="form-control" />                         
              </div>
              <div class="form-group">
                  <input type="text" placeholder="Locatia petrecerii" id="name" [(ngModel)]="data.location" name="location" class="form-control" />                         
              </div>
              <div style="margin-top: 1em" class="col-sm-6 col-xs-6">
                  <label >Select Date and Time</label>
              </div>
              <div style="margin-bottom: 1em" class="col-sm-6 col-xs-6">
                <input class="form-control"  [(ngModel)]="data.date" name="date"
               ngui-datetime-picker placeholder="Select Date and Time" />
              </div>
              
              <!--<my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [placeholder]="placeholder"></my-date-picker>-->
              <div class="form-group">
                <textarea placeholder="Implinesc 5 ani si vreau sa ma distrez cu tine, Te astept cu drag" [(ngModel)]="data.message" name="message"
                id="questions-or-comments" rows="5" class="form-control ct-u-margin-top-15"></textarea>
                <label for="questions-or-comments" class="sr-only">Va astept cu drag</label>
              </div>
            </div>

            <div class="col-sm-6 col-sm-offset-3" style="margin-bottom: 20px">
              <h2 class="h2 ct-form-section__title">Trimite invitatia la: </h2>
              <div class="form-group">
                <tag-input name="email" [(ngModel)]="data.email" placeholder="Enter Another Email" 
              [modelAsStrings]="true" secondaryPlaceholder="email si apasa Return">
                </tag-input>
              </div>

              <div class="form-group">
                <label for="sms" class="sr-only">SMS Phone Number</label>
                <tag-input name="phone_number" [(ngModel)]="data.phone_number" placeholder="Enter Another Number"
                [modelAsStrings]="true" secondaryPlaceholder="nr telefon">
                  </tag-input>
              </div> 
            
          </div>

          <div class="col-sm-6 col-sm-offset-3">
            <button type="button" class="btn btn-motive" (click)="onNext()">Alege cadoul</button>
          </div>

        </form>